.rightMargin {
    margin-right: 20px;
}

html,
body {
    height: 100%
}

div#uiArea {
    height: 100%
}

.FlexWrap {
    flex-wrap: wrap;
}

.PDHeader {
    flex: 1;
    justify-content: space-between;
}

.PDLabel {
    padding-top: 7px;
}

.pdForm > div{
	width: 100%;
}
.oldNotes {
    border: 1px solid #bfbfbf;
    min-height: 120px;
    ;
    font-size: 9pt;
}

.notificationBox {
    /*max-width: 650px;*/
    width: 100%;
}

.notificationBox>.sapUiForm .sapUiFormTitle {
    height: 2rem;
    line-height: 2rem;
}

.cisUiTinyMargin {
    /*margin-right: 0.5rem;*/
    /*margin-bottom: 0.5rem;*/
    /*margin-left: 0.5rem;*/
}

.cisLabels .sapMLabel {
    font-size: 0.775rem;
}

.cisLabels .sapMText {
    font-size: .775rem;
}

.cisTopMargin {
    margin-top: 10px;
}

.cisLabels .sapMInputBaseInner {
    font-size: .775rem;
}

.cisLabels .sapMBtnInner {
    font-size: .775rem;
}

.cisMBtnReject>span.sapMBtnInner.sapMBtnReject>.sapMBtnIcon {
    color: #e01919
}

.cisMBtnReject>span.sapMBtnInner.sapMBtnReject {
    border-color: #b51616;
    color: #b51616;
    text-shadow: none;
}

.cisMBtnReject>span.sapMBtnInner.sapMBtnReject {
    background-color: transparent;
}

.sapMBtnInner.cisMBtnReject>.sapMBtnIcon {
    color: #b51616;
}

.cisMBtnAccept>span.sapMBtnInner.sapMBtnAccept {
    background-color: transparent;
    border-color: #005f28;
    color: #005f28;
    text-shadow: none;
}

.cisMBtnAccept>span.sapMBtnInner.sapMBtnAccept:hover {
    background-color: transparent;
}

.cisMBtnAccept>span.sapMBtnInner.sapMBtnAccept>.sapMBtnIcon {
    color: #005f28;
}

.cisMBtnAccept.sapMBtn:hover>.sapMBtnHoverable.sapMBtnAccept:not(.sapMBtnActive) {
    background-color: transparent;
    border-color: #b51616;
    transform: scale(1.1);
}

.cisMBtnReject.sapMBtn:hover>.sapMBtnHoverable.sapMBtnReject:not(.sapMBtnActive) {
    background-color: transparent;
    border-color: #b51616;
    transform: scale(1.1);
}