.rightMargin{
	    margin-right: 20px;
}

html, body {
  height: 100%
}

div#uiArea {
  height: 100%
}

.FlexWrap{
	flex-wrap: wrap;
}

.oldNotes{
	border: 1px solid #bfbfbf;
	height: 236px;
}
.notificationBox{
	/*margin-top: 164px;*/
}

.cisUiTinyMargin {
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    margin-left: 0.5rem;
}

.cisTopMargin{
	margin-top: 10px;
}

.cisMBtnReject>span.sapMBtnInner.sapMBtnReject>.sapMBtnIcon {
    color: #e01919
}

.cisMBtnReject>span.sapMBtnInner.sapMBtnReject {
    border-color: #b51616;
    color: #b51616;
    text-shadow: none;
}

.cisMBtnReject>span.sapMBtnInner.sapMBtnReject {
    background-color: transparent;
}

.sapMBtnInner.cisMBtnReject>.sapMBtnIcon {
    color: #b51616;
}

.cisMBtnAccept>span.sapMBtnInner.sapMBtnAccept {
	background-color: transparent;
    border-color: #005f28;
    color: #005f28;
    text-shadow: none;
}
.cisMBtnAccept>span.sapMBtnInner.sapMBtnAccept:hover{
	background-color: transparent;
}
.cisMBtnAccept>span.sapMBtnInner.sapMBtnAccept>.sapMBtnIcon {
    color: #005f28;
}